.add-ons-container{
  margin-left: 0px;
}
.row.deposit-container {
  padding: 10px 0px;
  border-bottom: 1px solid #4dcaf4;
}
.deposit-details-border{
  border-bottom: 1px solid #4dcaf4;
  padding: 10px;
}
p.font-small {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px;
}



