<div class="modal-content-popup">
    <div class="modal-header-popup ng-scope d-flex justify-content-between">
      <h4> {{heading}} </h4>
      <a (click)="dismissPopup()" (keydown.enter)="dismissPopup()" tabindex="0" class="close">X</a>
    </div>
    <div class="modal-popup-body admin booking ng-scope mt-3">
      <div class="container-fluid">
        <div class="modal-body ng-binding ng-scope"
        ng-bind-html="msg">
        {{parent_content}} <span class="name-limit org-name">"{{displayName}}"</span> ?
        <br><br>{{child_content}} <span class="name-limit org-name">"{{facName}}"</span>
        </div>
      </div>
    </div>
    <div class="modal-footer ng-scope">
      <div class="row">
        <div class="bootstrap-switch-container mb-3 mt-2 d-flex gap-2">
          <button type="submit"
          class="btn btn-primary" (click)="deleteOrgManage()" aria-hidden="false">Yes</button>
          <button type="button" class="btn btn-default" (click)="dismissPopup()"
          aria-hidden="false">No</button>
        </div>
      </div>
    </div>
  </div>
