<div class="allowed-activiies w-100">
  <p class="drop-down-title">Facility</p>
  <div class="input-group full-width-select-dro-down mb-3">
    <div class="card flex justify-content-center full-width-select-dro-down w-100">
      <div class="admin-text">
        <li class="nav-item dropdown">
          <span id="navbarAdminDropdown" role="button" title="Facility"
          class="form-control custom-dropdown-section custom-dropdown"
          data-bs-toggle="dropdown" aria-expanded="false">{{facName}}
          <i class="fa-solid fa-angle-down"></i></span>
          <ul class="dropdown-menu custom-dropdown  w-100"
          [ngStyle]="{'height':facilities && facilities.length  > 4 ? '250px' : 'auto'}"
            aria-labelledby="navbarAdminDropdown">
            <li *ngIf="facilities && facilities.length > 0">
              <a *ngIf="accessLevel" class="dropdown-item clear-drop-down filter" (click)="clearAllFacilities(); $event.stopPropagation();" (keydown.enter)="clearAllFacilities(); $event.stopPropagation();" tabindex="0">
              <i class="fa fa-times mr-2"></i>  Clear</a>
               <li *ngFor="let facility of facilities; let current = index">
              <a (click)="selectFacility(facility.id,current,facility.name)" (keydown.enter)="selectFacility(facility.id,current,facility.name)" tabindex="0" class="dropdown-item small">
              <span class="fa mr-2" [ngClass]="{'text-success fa-check': isChecked(current)}"
              ></span>
              {{facility.name}}</a></li>
          </ul>
        </li>
      </div>
    </div>
</div>
</div>
