<section class="content">
  <div class="sticky_navbar">
  <app-admin-navbar></app-admin-navbar>
  </div>
  <div class="container-fluid">
    <div class="manage-org">
      <div class="row">
        <div class="col-lg-3">
          <app-admin-org-sidebar />
        </div>
        <div class="col-lg-9">
          <ng-container *ngIf="groupDetails?.name">
          <app-navbar-group-members [groupName]="groupDetails?.name"  [system]="groupDetails?.system"/>
        </ng-container>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show" [ngClass]="{'show active': system === 0}"  *ngIf="groupDetails?.system===0" id="basic" role="tabpanel" aria-labelledby="basic-tab">
               <app-new-group />
             </div>
             <div class="tab-pane fade show" [ngClass]="{'show active': system === 2}"  *ngIf="groupDetails?.system===0" id="access" role="tabpanel" aria-labelledby="access-tab">
              <app-group-access></app-group-access>
            </div>
            <div class="tab-pane fade active show" id="members"  [ngClass]="{'show active': system === 1 || groupDetails?.system===1}"  role="tabpanel" aria-labelledby="members-tab">
              <ng-container *ngIf="groupName">
              <app-group-members [groupName]="groupName"></app-group-members>
            </ng-container>
            </div>
            <div class="tab-pane fade show" [ngClass]="{'show active': system === 3}" id="reports" role="tabpanel" aria-labelledby="reports-tab">
            </div>
           </div>
        </div>
      </div>
    </div>
  </div>
</section>
