.payment{
    background-color: #fff;
    border: 1px solid #e2e7e9;
    border-radius: 5px;
    padding: 10px 0;
    margin-top: 20px;
}

.booking h4{
    font-size: 20px !important;
    font-weight: 400 !important;
}