<section>
    <div class="termsnavbar">
        <app-navbar [staticPage]=1></app-navbar> 
    </div>
<div class="py-2 container-fluid terms-container">
<a name="top" aria-label="top"></a>
<h1>
    TERMS AND CONDITIONS OF USE
</h1>
<p>
    The following terms and conditions (<strong>Terms of Use</strong>) govern the use of the website (the <strong>Site</strong> or <strong>Website</strong> ), any Spotz mobile
device software applications (the <strong>Mobile Software</strong>), and any related services (together with the Site and Mobile Software, the     <strong>Service</strong>) made available by Spotz LLC (<strong>us</strong>, <strong>we</strong>, or <strong>Spotz</strong>). By accessing,
    using or participating in the Service, you (<strong>you</strong>, <strong>You</strong> or the <strong>User</strong>) agree to be bound by these Terms
    of Use. We may modify, add, or delete portions of these Terms of Use, including the pricing terms, at any time. If you do not agree to these Terms of Use,
    you must cease using the Service. If you do not agree to abide by these Terms of Use, you are not authorized to use, access or participate in (or continue
    to use, access or participate in) the Service.
    <br/>
    <br/>
</p>
<p>
    THE SERVICE COMPRISES AN ONLINE PLATFORM THROUGH WHICH HOSTS (DEFINED BELOW) MAY CREATE LISTINGS FOR SPACES (DEFINED BELOW), AND GUESTS (DEFINED BELOW) MAY
    LEARN ABOUT AND BOOK SPACES DIRECTLY WITH THE HOSTS. 
</p>
<h2>Key Terms</h2>
<p>  
    The following bolded and capitalized terms are used throughout the Terms of Use. Other key terms may be identified in following sections as well and used
    throughout the Terms of Use.
</p>
<p>
    <strong>Booking</strong>
    - means a Booking Request from a Member that was confirmed and accepted by a Host.
</p>
<p>
    <strong>Booking Request</strong>
    - means an individual request by a Member to reserve a Space from a Host.
</p>
<p>   
    <strong>Booking Fee</strong> - means the amount that is due and payable by a Guest in exchange for that Guest’s usage of a Space.
</p>
<p>    
    <strong>Booking Add-On Fee</strong> - means the amount that is due and payable by a Guest in exchange for usage of additional goods or services in
    conjunction with their usage of a Space.
</p>
<p>
    <strong>
        Booking Request Period
    </strong>
    - means the time period starting from the date of a Booking Request by a Guest within which a Host may decide whether to confirm or reject that Booking
    Request, as stated on the Service. Different Booking Request Periods may apply to each Space, Facility or Organization.
</p>
<p>
    <strong>Collective Content</strong>
    - means Member Content and Spotz Content.
    </p>
    <p>
    <strong>Content</strong>
    - means text, graphics, images, music, software (excluding the Service), audio, video, information or other materials.
    </p>
    <p>
    <strong>Event</strong> - means the usage of a Space by a Guest for activities including but not limited to practices, games, classes, trainings,
    tournaments and camps.
    </p>
    <p>
    <strong>
        Facility
    </strong>
    - means a group of Spaces that are in one geographic location or are in one building. For example, a park is a Facility and the soccer fields at that park
    are Spaces.
    </p>
    <p>
    <strong>Group</strong> - means a collection of Members as defined by a Host that share attributes such as, but not limited to, access level and
    applicable discount on Booking Fees.
    </p>
    <p>
    <strong>Guest</strong>
    - means a Member who makes a Booking for a Space via the Service and is not the Host for such Space.
    </p>
    <p>
    <strong>Guest Fees</strong> - means the fee that Spotz charges a Guest for the use of the Service which is calculated as a percentage of the Booking
    Fees plus the Booking Add-On Fees.
    </p>
    <p>
    <strong>Spotz Content</strong>
    - means all Content that Spotz makes available through the Service, including any Content licensed from a third party, but excluding Member Content.
    </p>
    <p>
    <strong>Host</strong>
    - means an Organization that owns and operates one or many Facilities that contain one or many Spaces that creates a Listing via the Service
    </p>
    <p>
    <strong>Host Fees</strong> - means the fees that Spotz charges a Host for the use of the service which may include fees for Listings and Internal
    Bookings and/or a commission on Total Booking Fees.
    </p>
    <p>
    <strong>Internal Booking</strong>
    - means a Booking where the Guest has a relationship with the Host such that the Host does not wish to charge any Booking Fee or Booking Add-On Fees.
    </p>
    <p>
    <strong>Listing</strong>
    - means information about a space and/or a Space that is marked by a Host as available at specific dates and times for rental via the Service at an hourly rate.
    </p>
    <p>
    <strong>Member</strong>
    - means a person who completes Spotz’s account registration process, including but not limited to Hosts and Guests, as described under Account
    Registration in the Terms of Use.
    </p>
    <p>
    <strong>Member Content</strong>
    - means all Content that a Member posts, uploads, publishes, submits, transmits or includes in their Listing or profile pages for their Organization,
    Facility or Space to be made available through the Service.
</p>

<p>

    <strong>Organization</strong>
    - means a legal entity that may be involved in either side of a Booking.
    
    </p>
    <p>
    <strong>Organization Administrator</strong> - means a Member that has been granted permission to create a Listing for Space or book Space on behalf of an
    Organization.
    </p>
    <p>
    <strong>Participant</strong> - means a person who participates in an Event including but not limited to athletes, employees, agents, guests, invitees,
    officials and spectators.
    </p>
    <p>
    <strong>Space</strong>
    - means a single bookable athletic property that is part of a Facility and managed by an Organization.
    </p>
    <p>
    <strong>Supervisor</strong> - means an adult person who is in charge of an Event on behalf of a Guest.
    </p>
    <p>
    <strong>Term</strong> - means the span of time that a Space is being used by a Guest for an Event that is authorized by the Host.
    </p>
    <p>
    <strong>Total Booking Fees</strong> - means collectively the Booking Fees and Booking Add-On Fees.
    </p>
    <p>
    <strong>Total Fees</strong> - means collectively the Total Booking Fees, Guest Fees and any applicable taxes.
    </p>
    <h2>
        Account Registration
        </h2>
<p>
    In order to access certain features of the Service you must register to create an account (<strong>Spotz Account</strong>) and become a Member.
    Features requiring a Spotz Account include but are not limited to (i) Booking Request from a Host for either personal or Organizational use; (ii)
    Booking from a Host for either personal or Organization use; and (iii) becoming a Host and Listing Space.
</p>
<p>
   
    In connection with registering for, using or participating in the Service (whether as a Guest or a Host), you agree to (i) provide accurate, current and
    complete information about you and your organization as requested by Spotz (<strong>Registration Data</strong>); (ii) maintain the confidentiality of
    your password and other information related to the security of your account; (iii) maintain and promptly update the Registration Data and any other
    information you provide to Spotz, to keep such information accurate, current and complete; and (iv) be fully responsible for all use of your account and
    for any actions that take place through your account except in the case of your account being hacked or hijacked by a third party person or entity.
   
</p>
<h2>
   
        Hosts
 </h2>  

<p>
    Use of the Service by Hosts is also governed by our Host Terms agreement located at <a href="../../host">Spotz.io/host</a> (the <strong>Host Terms</strong>). When
    using the Service as a Host, you are consenting to the terms of the Host Terms as well.
</p>
<h2>
    
    Transactions Between Guests and Hosts on the Service
</h2>
<p>
    
    You acknowledge that the Service is a forum to allow anyone to find, schedule time in, reserve, book, offer to book, and make available Space. Your
    transactions, communications and interactions with any other Users (including any interactions between a Guest and a Host), including transactions,
    communications and interactions initiated through the Service, are between you and such Users, and you are responsible for such transactions,
    communications and interactions. You acknowledge that Spotz does not itself own or operate any Spaces nor does it sell, resell, furnish, provide, rent,
    re-rent, manage or control any Spaces, and Spotz does not act as an agent or broker for any Host or any Guest. Instead, Spotz provides the Service as
    a platform and its responsibilities are limited to: (i) facilitating the availability of the Service to allow Guests and Hosts to transact and communicate
    directly with one another and (ii) serving as a limited payment collection agent of the Host under the terms of the section heading Payments, below.
    Spotz is not party to Guest-Host transactions or communications, other than to the limited extent set out in these Terms of Use. In addition, Spotz
    does not screen Hosts or Guests, or the Spaces themselves - each Host is responsible for screening and assessing any Guests it is considering
    granting access to its Space, and each Guest is responsible for assessing the suitability of any Space it is considering using. Spotz has no
    control over the quality, suitability or availability of any Space, or over the reliability, integrity or conduct of any Host or Guest.
</p>
<h2>
    
    Agreements Between Guests and Hosts
</h2>
<p>
    
    By completing a Booking for a Space via the Service, each Guest acknowledges and agrees that it is entering into an agreement directly with the applicable
    Host, the terms of the Hourly Booking Agreement located at <a href="../../hourly">Spotz.io/hourly</a> (the <strong>Hourly Booking Agreement</strong>),
    and which include any and all additional terms, conditions and policies provided by the Host relating to the use of such Space, including building security
procedures, setup, cleanup and use procedures, maximum occupancy limitations and other terms or procedures provided by the Host (the     <strong>House Rules</strong> and, together with the Hourly Booking Agreement, as applicable, the <strong>Space Booking Agreement</strong>).
    </p>
    <p>
    If there is a conflict between the Hourly Booking Agreement and the House Rules, the Hourly Booking Agreement shall govern and control. In the event of any
    conflict between the Space Booking Agreement and these Terms of Use, these Terms of Use shall govern and control.
    </p>
    <p>
    While Spotz is not a party to the Space Booking Agreement between a Guest and a Host, a Guest’s use of the Service is dependent upon such Guest’s
    compliance with the Space Booking Agreement. Consequently, as a Guest, you agree to abide by, and cause your students, athletes, employees, agents, guests,
    invitees, fans and any other person present at the Space at the time of your Event to abide by, the Space Booking Agreement.
    </p>
    <p>
    The Hosts, not Spotz, are responsible for honoring any Booking and making available any Spaces reserved through the Service. Guests, and not
    Spotz, will be responsible for complying with the applicable Space Booking Agreement and performing their obligations under any such agreements.
    Spotz is not a party to those agreements.
    
</p>
    <p>
    IN CONSIDERATION OF PROVIDING SERVICES, TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, Spotz IS NOT RESPONSIBLE OR LIABLE IN ANY MANNER FOR ANY LOSS
    OR DAMAGE ARISING OUT OF YOUR TRANSACTIONS, COMMUNICATIONS AND INTERACTIONS WITH ANY OTHER USERS, INCLUDING ANY SPACE BOOKING AGREEMENTS THAT YOU ENTER
    INTO. Spotz DOES NOT CONTROL THE CONTENT CONTAINED IN ANY LISTINGS BY HOSTS OR THE CONDITION, LEGALITY OR SUITABILITY OF ANY SPACES. YOU HEREBY RELEASE
    Spotz FROM ANY AND ALL CLAIMS, CAUSES OF ACTIONS, OBLIGATIONS OR LIABILITIES ARISING FROM OR RELATING TO SUCH TRANSACTIONS, COMMUNICATIONS AND
    INTERACTIONS, INCLUDING ANY SPACE BOOKING AGREEMENTS THAT YOU ENTER INTO, LISTINGS ON THE SITE AND THE QUALITY, CONDITIONS OR SUITABILITY OF ANY SPACE.
</p>
<h2>
    
        Payments
    
</h2>
<p>
    You agree to the Total Fees and other pricing terms applicable to your use of the Service as specified in these Terms of Use, Space Booking Agreement and
    as otherwise communicated to you through the Service. All fees and charges paid by Users in connection with the Service are non-refundable, except as
    expressly stated in these Terms of Use. Spotz may change the Guest Fees at any time in its sole discretion.
</p>
<p>
    
    Any Bookings that are cancelled by the Guest or Host are subject to the Cancellation Terms and Refund Policy.
</p>
<h2>
    
    Cancellation Terms and Refund Policy
    
</h2>
<p>
    Cancellations of any Space Booking Agreement shall be governed by the terms and conditions of the Hourly Booking Agreement (the Cancellation Terms and
    Refund Policy).
</p>
<h2>
   
    Privacy
</h2>
<p>
   
    Use of the Service is also governed by our Privacy Policy located at <a href="../../privacy">Spotz.io/privacy</a> (the <strong>Privacy Policy</strong>). By using the
    Service, you are consenting to the terms of the Privacy Policy.
</p>
<h2>
    Proprietary Rights in Site Content; Limited License
</h2>
<p>
   
    All content on the Site and otherwise available through the Service, including designs, text, graphics, images, video, information, software, audio and
    other files, and their selection and arrangement (the <strong>Site Content</strong>), are the proprietary property of Spotz, its users or its
    licensors. No Site Content may be modified, copied, distributed, framed, reproduced, republished, downloaded, scraped, displayed, posted, transmitted, or
    sold in any form or by any means, in whole or in part, other than as expressly permitted in these Terms of Use. Users may access and use the Service and
    the Site Content and download or print a reasonable number of copies of portions of the Site Content to which the User has properly gained access solely
    for the User's personal, non-commercial use, provided that the User maintains all copyright or other proprietary notices on all copies of such Site
    Content. Except for your own User Content, you may not publish or otherwise distribute Site Content, including via the Internet or any intranet or extranet
    site, or incorporate the Site Content in any other database or compilation. You may not use any data mining, robots, scraping or similar data gathering or
    extraction methods to obtain Site Content. Any use of the Site or the Site Content other than as specifically authorized herein is prohibited and will
    automatically terminate your rights with respect to use of the Service and the Site Content granted herein. All rights of Spotz or its licensors that
    are not expressly granted in these Terms of Use are reserved to Spotz and its licensors.
</p>
<h2>
    User Content Posted on the Service
</h2>
<p>
   
You may be able to display certain information on designated portions of the Site or otherwise through the Service regarding you in your (<strong>User Profile</strong>) or about Organization, Facility or Space (collectively the <strong>Host Profile</strong>).
   </p>
    <p>
    Host Profiles will display to other Users. User Profile data will be displayed to Hosts to which you submit a Booking Request. You agree to provide
    accurate and current information in your Host Profile and to promptly update the Content contained within to keep it accurate and current.
</p>
<p>
    You are solely responsible for the User Profile and Host Profile Content, messages, notes, text, information, offerings, images, links and any other
    content that you upload, publish, display or otherwise provide to Spotz for display (hereinafter, post) on or through the Service, or transmit to or
    share with other Users (collectively, User Content). You may not post, transmit, or distribute User Content that you did not create or that you do not
    have permission to post. You understand and agree that Spotz may, but is not obligated to, review the Site and may delete or remove (without notice) any
    Site Content or User Content in its sole discretion, for any reason or no reason, including User Content that Spotz believes violates the User Conduct section of these Terms of
    Use.
</p>
<p>
    Spotz has no backup or storage obligations regarding User Content. You are responsible at your cost and expense for creating backup copies
    and replacing any User Content you post or store on the Site or provide to Spotz.
</p>
<p>
    Spotz does not verify the accuracy, completeness, reliability or authenticity of any User Content, including any Space descriptions or Space
    availability information provided by Hosts, and makes no representations or warranties with respect to any User Content.
</p>
<p>
    When you post User Content to the Site, you grant to Spotz an irrevocable, perpetual, non-exclusive, transferable, fully paid, worldwide license (with
    the right to sublicense) to use, reproduce, publicly perform, publicly display, modify, translate, excerpt (in whole or in part), publish and distribute
    such User Content. Subject to the rights granted to us in these Terms of Use, you retain ownership of your User Content.
</p>
<h2>
    
        Proprietary Rights Notices
    </h2>
    <p>
    All trademarks, service marks, logos, trade names and any other proprietary designations of Spotz used herein are trade names, trademarks or registered
    trademarks of Spotz LLC. Any other trademarks, service marks, logos, trade names and any other proprietary designations are the trademarks or registered
    trademarks of their respective parties.
   </p>
    <h2>
    User Conduct
</h2>
<p>
    
    You understand and agree that you are solely responsible for compliance with any and all laws, rules, regulations and tax obligations that may apply to
    your use of the Service. In connection with your use of the Service you may not and you agree that you will not:
</p>
<p>
    - violate any local, state, provincial, national or other law or regulation, or any order of a court, including, without limitation, zoning restrictions
    and tax regulations;
</p>
<p>
    - use manual or automated software, devices, scripts, robots, backdoors or other means or processes to access, scrape, crawl or spider any web pages
    or other services contained in the Service or Collective Content;
    </p>
    <p>
    - access or use our Service and/or API to use, expose or allow to be used or exposed, any Spotz Content: (i) that is not publically displayed by
    Spotz; (ii) in any way that is inconsistent with the Spotz Privacy Policy or Terms of Service; or (iii) in any way that otherwise violates the
    privacy rights or any other rights of Spotz’s users or any other third party;
</p>
<p>
    - use the Service for any commercial or other purposes that are not expressly permitted by these Terms;
</p>
<p>
    - copy, store or otherwise access or use any information contained on the Service for purposes not expressly permitted by these Terms;
</p>
<p>
    - infringe on the rights of any person or entity, including without limitation, their intellectual property, publicity or contractual rights;
</p>
<p>
    - interfere or damage our Service, including, without limitation, through the use of viruses, cancel bots, Trojan horses, harmful code, flood pings,
    denial-of-service attacks, packet or IP spoofing, forged routing, backdoors or electronic mail address information or similar methods or technology;
    </p>
    <p>
    - use the Service to distribute, transmit, submit or post any information concerning any other person or entity, including without limitation, photographs
    of others without their permission, personal contact information or any account numbers including bank, debit or credit card;
</p>
<p>
    - harass or stalk any User of our Service
</p>
<p>
    - collect or store any personally identifiable information about any other User other than for the purpose of transacting as a Spotz Guest or Host;
</p>
<p>
    - offer, as a Host, any Space that you do not yourself own or have an administrative relationship to, such as an employee or approved agent of the
    Organization that owns or operates the Space;
</p>
<p>
    - book any Space on behalf of an Organization that you do not own or have an administrative relationship to, such as an employee or approved agent of the
    Organization;
</p>
<p>
    - offer, as a Host, any Space that may not be booked pursuant to the terms and conditions of an existing agreement with a third party;
</p>
<p>
    - register for more than one Member account with Spotz or registering to be a Spotz Member on behalf of an individual other than yourself;
</p>
<p>
    - contact a Host for any purpose other than asking a question relating to a Booking or Listing;
</p>
<p>
    - contact a Guest for any purpose other than asking a question relating to a Booking;
</p>
<p>
    - solicit or recruit any Host or other Member to join third-party services or websites that are competitive to Spotz, without Spotz’s prior written
    approval;
</p>
<p>
    - impersonate any person or entity, or falsify or otherwise misrepresent yourself or your affiliation with any person or entity;
</p>
<p>
    - as a Host, submit any Listing with false or misleading information, or submit any Listing with a Price that you do not intend to honor;
</p>
<p>
    - post, upload, publish, submit or transmit any Content that: (i) infringes, misappropriates or violates a third party's patent, copyright, trademark,
    trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy; (ii) violates, or encourages any conduct that would
    violate, any applicable law or regulation or would give rise to civil liability; (iii) is fraudulent, false, misleading or deceptive; (iv) is defamatory,
    obscene, pornographic, vulgar or offensive; (v) promotes discrimination, bigotry, racism, hatred, harassment or harm against any individual or group; (vi)
    is violent or threatening or promotes violence or actions that are threatening to any other person; or (vii) promotes illegal or harmful activities or
    substances;
</p>
<p>
    - use, display, mirror or frame the Service, or any individual element within the Service, Spotz’s name, any Spotz trademark, logo or other
    proprietary information, or the layout and design of any page or form contained on a page in the Service, without Spotz’s express written consent;
</p>
<p>
    - systematically retrieve data or other content from our Service, directly or indirectly, in a single or multiple downloads, a collection, compilation,
    database, directory or the like, whether by manual methods, through the user of bots, crawlers or spiders, or otherwise;
</p>
<p>
    - access, tamper with or use non-public areas of the Service, Spotz’s computer systems or the technical delivery systems of Spotz’s providers;
</p>
<p>
    - attempt to probe, scan or test the vulnerability of any Spotz system or network, or breach any security or authentication measures;
</p>
<p>
    - avoid, bypass, remove, deactivate, impair, descramble or otherwise circumvent any technological measure implanted by Spotz or any of Spotz’s
    providers or any other third party (including another user) to protect the Service or Collective Content;
</p>
<p>
    - attempt to decipher, disassemble, decompile or reverse engineer any of the software used to provide the Service or Collective Content or advocate, assist
    or encourage any third party in doing any of the foregoing;
</p>
<p>
    - use the Service to find a Host or Guest and make a Booking of a Space independent of the Service, in order to circumvent the obligation to pay Service
    Fees or for any other reasons. If you do so, you acknowledge and agree that you: (i) would be in breach of these Terms; (ii) accept all risks and
    responsibility for payment and service (iii) hold Spotz, our employees and partners from any liability for payment or usage of the Space.
</p>
<h2>
    Third Party Websites and Content
</h2>
<p>
    The Site may contain (or you may be sent through the Service) links to other web sites (<strong>Third Party Sites</strong>) as well as articles,
photographs, text, graphics, pictures, designs, sound, video, information, and other content or items belonging to or originating from third parties (the <strong>Third Party Content</strong>). Such Third Party Sites and Third Party Content are not investigated, monitored or checked for accuracy,
    appropriateness, or completeness by us, and we are not responsible for any Third Party Sites accessed through the Site or any Third Party Content posted
    on, available through the Site, including the content, accuracy, offensiveness, opinions, reliability, privacy practices or other policies of or contained
    in the Third Party Sites or the Third Party Content. Inclusion of, linking to or permitting the use of any Third Party Site or any Third Party Content does
    not imply approval or endorsement thereof by Spotz. If you decide to leave the Site and access the Third Party Sites or to access or use any Third Party
    Content, you do so at your own risk and you should be aware that our terms and policies no longer govern. You should review the applicable terms and
    policies, including privacy and data gathering practices, of any site to which you navigate from the Site or relating to any applications you use or
    install from the site.
    
</p>
<h2>Eligibility</h2>

<p>
    This Service is intended solely for users who are eighteen (18) years of age or older. Any registration by, use of or access to the Service by anyone under
    18 is unauthorized and in violation of these Terms of Use. By using the Service, you represent and warrant that you are 18 years of age or older.
</p>
<h2>
    
    Disclaimers
</h2>
<p>
   
    Spotz is not responsible or liable in any manner for any User Content or Third Party Content posted on the Site or displayed in connection with the
    Service, including but not limited to the accuracy of any Space descriptions, Space availability information or Guest information. Although we provide
    rules for User conduct and postings, we do not control and are not responsible for what Users post, transmit or distribute on the Site and are not
    responsible for any offensive, inappropriate, obscene, unlawful or otherwise objectionable content you may encounter on the Site or in connection with any
    User Content or Third Party Content. Spotz is not responsible for the conduct, whether online or offline, of any User, including any Guest's
    non-compliance with any terms, conditions and policies relating to the use of any Space. The Service may be temporarily unavailable from time to time for
    maintenance or other reasons. Spotz shall have no responsibility for any interruption, delay in operation or transmission, theft or destruction of,
    unauthorized access to, or alteration of, User communications or any other content made available via the Service. Under no circumstances will Spotz be
    responsible for any personal injury or death resulting from the use of the Service, any User Content or Third Party Content, or any use of Spaces, products
    or services provided by Users.
</p>
<p>
    
    Spotz PROVIDES THE WEBSITE, INCLUDING ALL CONTENT THEREIN, TO HOSTS AND GUESTS AS IS, AND, EXCEPT AS PROVIDED HEREIN, AND Spotz AND ITS SUPPLIERS
    DISCLAIM ANY AND ALL OTHER REPRESENTATIONS AND WARRANTIES WITH RESPECT TO THE WEBSITE AND THE SPACES, WHETHER EXPRESS OR IMPLIED, INCLUDING IMPLIED
    WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT. Spotz CANNOT GUARANTEE AND DOES NOT PROMISE TO HOSTS AND
    GUESTS, AND HOSTS CANNOT GUARANTEE AND DO NOT PROMISE TO GUESTS, ANY SPECIFIC RESULTS FROM USE OF THE WEBSITE OR A SPACE. WITHOUT LIMITING THE FOREGOING,
    Spotz DOES NOT REPRESENT OR WARRANT THAT THE SOFTWARE, CONTENT OR MATERIALS MADE AVAILABLE THROUGH THE SERVICE ARE ACCURATE, COMPLETE, RELIABLE, CURRENT
    OR ERROR-FREE; Spotz DOES NOT REPRESENT OR WARRANT THAT THE SERVICE OR ANY SPACE BOOKING WILL MEET YOUR REQUIREMENTS; THAT ANY SPACE MEETS APPLICABLE
    LEGAL STANDARDS AND IS SAFE AND SUITABLE FOR YOUR INTENDED USE; AND Spotz DOES NOT REPRESENT OR WARRANT THAT THE WEBSITE WILL BE AVAILABLE AT ANY
    PARTICULAR TIME OR LOCATION, UNINTERRUPTED OR SECURE, THAT ANY DEFECTS OR ERRORS WILL BE CORRECTED, OR THAT THE WEBSITE, OR ITS SERVERS, ARE FREE OF
    VIRUSES OR OTHER HARMFUL COMPONENTS. THE DISCLAIMERS SET FORTH ABOVE IN THIS SECTION APPLY TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW.
</p>
<h2>
    
    Limitation on Liability
</h2>
<p>
    IN NO EVENT WILL Spotz OR ITS SUPPLIERS, OR THEIR DIRECTORS, EMPLOYEES, AGENTS, AFFILIATES OR SUPPLIERS, BE LIABLE TO YOU OR ANY THIRD PERSON FOR ANY
    INDIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL, SPECIAL OR PUNITIVE DAMAGES, INCLUDING FOR ANY LOST PROFITS, LOST DATA, PERSONAL INJURY OR PROPERTY DAMAGE,
    OF ANY NATURE WHATSOEVER, ARISING FROM YOUR USE OF THE SERVICE, ANY CONTENT OR OTHER MATERIALS ON, ACCESSED THROUGH OR DOWNLOADED FROM THE WEBSITE, OR A
    GUEST'S USE OF A SPACE. WITHOUT LIMITING THE FOREGOING, TO THE MAXIMUM
    EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL Spotz BE RESPONSIBLE OR LIABLE IN ANY MANNER FOR ANY LOSS OR DAMAGE ARISING OUT OF ANY
    TRANSACTIONS, COMMUNICATIONS, INTERACTIONS OR DISPUTES BETWEEN A GUEST AND A HOST. NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN, AND TO THE
    MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, Spotz'S LIABILITY TO YOU OR ANY PARTY CLAIMING THROUGH YOU FOR ANY CAUSE WHATSOEVER, AND REGARDLESS OF THE
    FORM OF THE ACTION, IS LIMITED TO THE AMOUNT PAID, IF ANY, BY YOU TO Spotz FOR THE WEBSITE IN REGARDS TO A SPECIFIC BOOKING THAT IS IN QUESTION. THE
    EXISTENCE OF MORE THAN ONE CLAIM HEREUNDER WILL BE TREATED INDEPENDENTLY OF EACH OTHER.
</p>
<h2>
    
    Termination
    
</h2>
<p>
    Spotz may terminate or suspend your account or ability to use the Service, in whole or in part, without notice in the event that (i) you violate the
    Terms of Use, the Host Terms, the Space Booking Agreement (including any applicable House Rules) or violate any other rules that govern the use of the
    Service, (ii) your conduct may harm Spotz or others or cause Spotz or others to incur liability, (iii) you receive negative feedback from other
    Users, or (iv) as otherwise determined by Spotz in its sole discretion. If we terminate or suspend your account or ability to use the Service, (a) any
    pending or accepted future reservations as either Guest or Host will be immediately terminated; (b) we may communicate to your Guests or Hosts that such
    reservations have been cancelled; (c) for Hosts, we may refund your Guests in full for any and all confirmed reservations; and (d) you will not be entitled
    to any compensation for reservations that were cancelled as a result of a suspension or termination of your account.
</p>
<p>
    Spotz may modify the Service, and all content, software and other items used or contained in the Service, at any time. References on the Service to any
    companies, organizations, products, or services, or other information do not constitute or imply endorsement, sponsorship or recommendation thereof, or any
    affiliation therewith, by Spotz.
</p>
<p>
    You may terminate your Spotz account at any time by providing Spotz with notice of termination in accordance with the instructions available through
    the Service. Your access to, use of, or participation in the Service, including any content therein, may be prevented by Spotz at any time after your
    termination of your account. Notwithstanding anything herein to the contrary, upon termination of your account, Spotz will remove your Profile and cease
    displaying your Profile Content, including your Space listings if you are a Host, on or through the Service. If you are a Guest and have a scheduled
    Booking you will not receive a refund based on the termination of your account.
</p>
<h2>
    Governing Law
</h2>
<p>
    You acknowledge and agree that your access to and/or use of the Service is subject to all applicable international, federal, state and local laws and
    regulations. The terms, conditions and policies contained in this Terms of Use shall be governed by and construed in accordance with the laws of the State
    of Wisconsin, without regard to its conflict of laws principles, and all claims, disputes or disagreements which may arise out of the interpretation,
    performance or in any way relating to your use of the Service shall be submitted exclusively to the applicable state or federal courts in Dane County and
    State of Wisconsin. You acknowledge and agree that you will irrevocably consent and submit to the exclusive personal jurisdiction of those courts for the
    purpose of litigating any such action; and you will irrevocably waive any jurisdictional, venue or inconvenient forum objections to such court. You also
    hereby irrevocably waive any right you may have to participate in a class action or representative action against Spotz. You acknowledge that the terms
    of this provision are material, bargained-for bases of this agreement, and you agree that the waivers are fair and reasonable. Any waiver by Spotz of
    any provision of the Terms of Use must be in writing. If any portion of these Terms of Use is found to be void, invalid or otherwise unenforceable, then
    that portion shall be deemed to be superseded by a valid, enforceable provision that matches the intent of the original provision as closely as possible.
    The remainder of these Terms of Use shall continue to be enforceable and valid according to terms contained herein.
    </p>
    <h2>
    Indemnity
</h2>
<p>
    
    You agree to release, defend, indemnify and hold Spotz and its affiliates and subsidiaries, and their officers, directors, employees and agents,
    harmless from and against any loss, liability, claim, demand, damages, bodily injury, property damage, invasion of privacy, advertising injury,
    intellectual property infringement, breach of contract, costs and expenses, including reasonable accounting or attorney fees, arising out of or in
    connection with (i) your access to or use of the Service or your violation of these Terms; (ii) your Member Content; (iii) your (a) interaction with any
    Member, (b) Booking of a Space or (c) creation of a Listing.
</p>
<h2>
    
    Miscellaneous
</h2>
<p>
    
    These Terms of Use, the Host Terms, the Privacy Policy and when applicable the Space Booking Agreement constitute the entire agreement between you and
    Spotz regarding the use of the Service and supersede any prior agreements between you and Spotz relating to your use of the Service. The failure of
    Spotz to exercise or enforce any right or provision of these Terms of Use shall not constitute a waiver of such right or provision in that or any other
    instance. If any provision of these Terms of Use is determined to be unlawful, void or for any reason unenforceable, such determination shall not affect
    the validity and enforceability of any of the remaining provisions. You may not assign, transfer or delegate in any manner these Terms of Use or the rights
    and obligations hereunder to any third party
</p>
<hr/>
<p>
    Last revised May 1, 2017
</p>
</div>
<app-footer></app-footer>
</section>