<section>
    <div class="container-fluid py-0 waiver-container">
        <h2 class="text-center m-0 waivertitle">WAIVER/RELEASE OF LIABILITY</h2>
        <h3 class="text-center m-0 fw-normal waiver-read"> <u>READ BEFORE SIGNING</u></h3>

        <table class='w-100'>
            <tbody>
                <tr>
                    <td class="fw-bold w-15 teamname-width">TEAM NAME:</td>
                    <td class="border-color"></td>
                    <td class="city-align fw-bold">CITY, STATE OF TEAM:</td>

                    <td class="border-color"></td>
                </tr>
                <tr>
                    <td class="fw-bold">EVENT NAME:</td>
                    <td class="border-color"></td>
                    <td class="text-end fw-bold">EVENT DATES:</td>
                    <td class="border-color"></td>
                </tr>
            </tbody>
        </table>
        <p class="waiver-content-font mt-3">

            IN CONSIDERATION OF my child/ward, being allowed to participate in any way in the
            __________________________________________________________________ <span
                class="waiver-table-font">(organization
                name) </span>and related events and activities, the undersigned acknowledges, appreciates, and agrees
            that:
        </p>
        <ol class="waiver-content-font">
            <li>1. The risk of injury to my child/ward from the activities involved in these programs is significant,
                including
                the potential for season and career ending injuries, permanent disability, and death, and while
                particular
                rules, equipment, and personal discipline may reduce this risk, the risk of serious injury does exist;
                and,
            </li>
            <li>2. I FOR MYSELF, SPOUSE, AND CHILD/WARD, I KNOWINGLY AND FREELY ASSUME ALL SUCH RISKS, both known and
                unknown,
                EVEN IF ARISING FROM THE NEGLIGENCE OF THE RELEASEES or others, and assume full responsibility for my
                child/ward's participation; and,</li>
            <li>3. I willingly agree to comply with the program's stated and customary terms and conditions for
                participation.
                If I observe any unusual significant concern in my child/ward's readiness for participation and/or in
                the
                program itself, I will remove my child/ward from the participation and bring such attention of the
                nearest
                official immediately; and,</li>
            <li>4. I for myself, my spouse, my child/ward, and on behalf of my/our heirs, assigns, personal representatives
                and
                next of kin, HEREBY RELEASE AND HOLD HARMLESS Big Shots; its directors, officers, officials, agents,
                employees, volunteers, other participants, sponsoring agencies, sponsors, advertisers, and if
                applicable,
                owners and lessors of premises used to conduct the event (“Releasees”), WITH RESPECT TO ANY AND ALL
                INJURY,
                DISABILITY, DEATH, or loss or damage to person or property incident to my child/ward's involvement or
                participation in these programs, WHETHER ARISING FROM THE NEGLIGENCE OF THE RELEASEES OR OTHERWISE, to
                the
                fullest extent permitted by law.</li>
            <li>5. I, for myself, my spouse, my child's/ward, and on behalf of my/our heirs, assigns, personal
                representatives
                and next of kin, HEREBY INDEMNIFY AND HOLD HARMLESS all the above Releasees from any and all liabilities
                incident to my child's/ward involvement or participation in these programs, EVEN IF ARISING FROM THEIR
                NEGLIGENCE, to the fullest extent permitted by law.</li>
        </ol>
        <p>I HAVE READ THIS RELEASE OF LIABILTY AND ASSUMPTION OF RISK AGREEMENT, FULLY UNDERSTAND ITS TERMS, UNDERSTAND
            THAT I HAVE GIVEN UP SUBSTANTIAL RIGHTS BY SIGNING IT, AND SIGN IT FREELY AND VOLUNTARILY WITHOUT ANY
            INDUCEMENT.</p>
        <table class="w-100">
            <tbody>
                <tr>
                    <th class="waiver-table-font border-color">PLAYER NAME</th>

                    <th class="waiver-table-font border-color">PLAYER SIGNATURE
                    </th>
                    <th class="waiver-table-font border-color">PARENT/GUARDIAN
                        <br/>SIGNATURE</th>
                    <th class="waiver-table-font border-color ">RELATIONSHIP</th>
                    <th class="waiver-table-font border-color ">PLAYER NAME</th>
                    <th class="waiver-table-font border-color ">PLAYER SIGNATURE
                    </th>
                    <th class="waiver-table-font border-color ">PARENT/GUARDIAN
                        <br/>SIGNATURE</th>
                    <th class="waiver-table-font border-color ">RELATIONSHIP</th>
                </tr>
                <tr>
                    <td class="table-td">
                        1)</td>

                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                        10)</td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                </tr>
                <tr>
                    <td class="table-td">
                        2)</td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                        11)</td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                </tr>
                <tr>
                    <td class="table-td">
                        3)</td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                        12)</td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                </tr>
                <tr>
                    <td class="table-td">
                        4)</td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                        13)</td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                </tr>
                <tr>
                    <td class="table-td">
                        5)</td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                        14)</td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                </tr>
                <tr>
                    <td class="table-td">
                        6)</td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                        15)</td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                </tr>
                <tr>
                    <td class="table-td">
                        7)</td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                        16)</td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                </tr>
                <tr>
                    <td class="table-td">
                        8)</td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                        17)</td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                </tr>
                <tr>
                    <td class="table-td">
                        9)</td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                        18)</td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                    <td class="table-td">
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="team-management"> <span class="fw-bold">TEAM MANAGER'S AFFIDAVIT: </span>By my signature below, I confirm
            that all
            player names have been entered above and to the best of my knowledge all of the parents or guardians signed
            the
            above in their own handwriting. If any new players are added to our roster, I will submit a new form.</p>
        <table class="w-100">
            <tbody>
                <tr>
                    <td class="w-50 p-4">
                        <table class="w-100">
                            <tbody>
                                <tr>
                                    <td class="w-70 border-color"></td>
                                    <td class="w-25 border-color"></td>
                                </tr>
                                <tr>
                                    <td class="fw-bold"> MANAGER'S SIGNATURE</td>
                                    <td class="fw-bold"> DATE</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="w-100">
                            <tbody>
                                <tr>
                                    <td valign="top" class="fw-bold w-50"> MANAGER'S MAILING ADDRESS</td>
                                    <td class="w-50" valign="top">
                                        <table class="w-100">
                                            <tbody>
                                                <tr>
                                                    <td colspan="3" class="border-color py-2">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="w-50 border-color px-2"></td>
                                                    <td class="w-25 border-color px-2"></td>
                                                    <td class="w-25 border-color px-2 py-2"></td>
                                                </tr>
                                                <tr>
                                                    <td class="fw-bold"> CITY</td>
                                                    <td class="fw-bold"> STATE</td>
                                                    <td class="fw-bold"> ZIP</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="fw-bold w-25"> MANAGER'S CELL PHONE</td>
                                    <td class="w-25 border-color">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="fw-bold w-25"> MANAGER'S EMAIL</td>
                                    <td class="w-25 border-color"></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="w-50 border border-dark border-dotted approved-td p-2">
                        <p class="waiver-table-font">OFFICE USE ONLY. Mail to: </p>
                        <div class="span-approved">
                            <span >APPROVED BY</span>
                        </div>
                        <table class="w-100 border-top border-dark">
                            <tbody>
                                <tr>
                                    <td class="fw-bold w-70"> SIGNATURE</td>
                                    <td class="fw-bold w-25"> DATE</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>