<section class="have-spc-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="have-sp-h">
          <h2>Have a space to list ?</h2>
        </div>
        <div class="create-list-btn text-center">
          <a [href]="createListing" target="_blank" class="c-btn btn-default cursor-pointer">Create a Listing</a>
          <a [href]="signUpLink" target="_blank" class="c-btn-2 ps-3 cursor-pointer btn-default text-decoration-underline">Learn About Hosting</a>
        </div>
      </div>
    </div>
  </div>
</section>
