.create-invoice-btn{
  background-color: #e58327 !important;
  color: #fff !important;
}

.nav.nav-tabs li.nav-item.create-invoice-btn button.nav-link.active{
  color:#fff !important;
  background-color: #e58327 !important;
  color: #fff !important;
}
.nav.nav-tabs li.nav-item.create-invoice-btn button{
  color:#fff;
}
.invoice-container .tab-content{
background-color: none;
padding: 0px;
border: none;
border-top: 0;
margin-bottom: 0px;
border-radius: 0px;
box-shadow: none;
}
.create-invoice-tab{
  background-color:#f9f9f9;
}
.remove-background-color
{
background-color: #f9f9f9;
}
button.nav-link {
  color: #333;
}
