.reply-con:hover
{
  color:#FF8000;
}

.nav-link
{
  color: #000;
}

.nav-item:hover
{
  color: #FF8000;
  background-color: #d7d4d4;
  border-radius: 5px;
}

.nav-item:hover .nav-link
{
  color: #FF8000;
}

.textarea{
  width: 100%;
}

.well{
  padding: 15px;
  background-color: #e2f4fb;
  border: none;
  box-shadow: none;
  border-radius: 12px;
  font-weight: 500;
}
