<section class="sign-up-bg">
  <div class="container-fluid padd-spc py-5">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="sign-up">
          <div class="signup-hd d-flex py-2">
            <h2>Sign Up</h2>
            <img class="arrowvector" src="assets/img/vector.png" alt="arrowvector">
          </div>
          <div class="find-space d-flex">
            <span class="find-spacem fw-medium">Find your space</span>
            <img class="arrowvector-1" src="assets/img/vector.png" alt="arrowvector-1">
          </div>
          <span class="fs-4 color-white">Reserve it in 5 minutes or less</span>
          <div class="sign-up-btn mt-5">
            <a (click)="openSignInDialog()" (keydown.enter)="openSignInDialog()" tabindex="0" class="btn btn-default">Sign up now</a>
          </div>
          <div class="sign-up-arrow">
            <a class="color-white text-decoration-underline" (click)="viewSpaceListing()"  (keydown.enter)="viewSpaceListing()" tabindex="0">How it Works</a>
            <img src="./assets/img/right-a.png" alt="right-a">
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-6 signup-container col-md-4 col-sm-12 ml-2">
            <div class="img-container">
              <img src="./assets/img/signup-img.png" class="w-100" alt="signup-img">
              <div class="signup-rt-cnt ">
                <p class="thicket-pool px-2">The Thicket Pool</p><p>Mission Hills, CA </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 signup-container col-md-4 col-sm-12">
            <div class="img-container">
              <img src="./assets/img/sign-up-img-2.png" class="w-100" alt="sign-up-img-2">
              <div class="signup-rt-cnt">
                <p class="anarondak-txt px-2">Anarondak Farmhouse</p><p>Durango, CO</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
